@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Nome"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:@ViewData["Email"]">narceliomonte@hotmail.com</a><br />
</address>
